.layout {
	display: flex;
	flex-direction: column;

	main {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.main-container {
			width: 90%;
			height: 100%;
			background-color: white;
			padding: 1rem;
		}
	}
}